<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color: rgb(104, 60, 6);">
  
<footer>
    <div class="card-header text-center" >
      <H1 style="background-color: orange;">Admison query.</H1>
    </div>
    <div class="card mb-3" style="max-width: 1600px;">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="/static/college.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            
            <div class="card-body">
              <h2 class="card-title">Special title treatment</h2>
              <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio dignissimos sed totam dicta praesentium voluptate tempora, quas temporibus eveniet dolore! Consectetur earum consequatur qui vel?</p>
              <div>
                <ul>Contect</ul>
                <h2>Address</h2>
                <address>Subhash nagar number 1 baburow more chal Andheri East Mumbai pin-400093.</address>
                <h2>Phone No.</h2>
                <p>7039539754</p>
              </div>
              <a href="/contactus/" class="btn btn-primary">Contact US</a>
            </div>
            
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
    </div>
</footer>

</body>
</html>
